<div class="container">
  <h1>My WishList</h1>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-light table-striped table-hover row-border hover">
    <thead>
    <tr>
      <th>Id Producto</th>
      <th>Nombre Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">
      <td> {{producto.idProducto}} </td>
      <td> {{producto.nombreProducto}} </td>
      <td> {{producto.precio}} </td>
      <td> {{producto.cantidad}} </td>
      <td><button (click)="borrarProducto(producto.idProducto)" class="btn btn-outline-danger" >Borrar</button></td>
      <div *ngIf="producto.cantidad==0"
           class="alert alert-danger
                animate__animated animate__bounceInLeft"
           role="alert">
        No tenemos existencias de {{producto.nombreProducto}} en este momento
      </div>
    </tr>

    </tbody>
  </table>

</div>
